#video {
  width: 100%;
  z-index: -1;
  position: fixed;
  margin-top: 80px; }

img {
  width: 100%; }

.call-to-action {
  display: flex;
  flex-direction: column;
  margin-bottom: 64px;
  align-items: center;
  background: rgba(200, 200, 200, 0.7);
  padding: 26px;
  border: 1px dashed #eee; }

.skinny {
  padding: 0 20%; }

h1,
h2,
.h1,
.h2 {
  font-family: "Monoton", cursive;
  font-size: 55px;
  -webkit-animation: colorchange 20s infinite alternate; }

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center; }

nav h1 {
  letter-spacing: 10px; }

h2 {
  font-size: 42px; }

h3 {
  font-size: 42px;
  font-weight: lighter;
  margin-bottom: 16px; }

.row {
  margin-top: 32px;
  padding-bottom: 32px;
  -webkit-animation: colorchangeNav 20s infinite alternate; }

.header {
  background: #eee;
  z-index: 10;
  align-items: center;
  width: 100%;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: 1px solid #eb009e;
  -webkit-animation: colorchangeNav 20s infinite alternate; }
  .header a {
    z-index: 100;
    color: #222; }

#video-overlay {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  align-items: center; }

.body {
  background: #eee;
  color: #222;
  padding: 32px;
  -webkit-animation: colorchangeBody 20s infinite alternate; }

.hidden-md {
  display: none; }

@media screen and (max-width: 992px) {
  .header {
    flex-direction: column;
    position: inherit; }

  .skinny {
    padding: 0 5%; }

  h1,
  h2,
  h3,
  h4,
  h5,
  p {
    text-align: center; }

  .hidden-xs {
    display: none; }

  .hidden-md {
    display: block; }

  #video,
  #video-overlay {
    display: none; } }
li {
  text-decoration: none; }

@-webkit-keyframes colorchange {
  0% {
    color: blue; }
  10% {
    color: #8e44ad; }
  20% {
    color: #1abc9c; }
  30% {
    color: #d35400; }
  40% {
    color: blue; }
  50% {
    color: #34495e; }
  60% {
    color: blue; }
  70% {
    color: #2980b9; }
  80% {
    color: #f1c40f; }
  90% {
    color: #2980b9; }
  100% {
    color: pink; } }
@-webkit-keyframes colorchangeNav {
  0% {
    border-bottom: 3px solid blue; }
  10% {
    border-bottom: 3px solid #8e44ad; }
  20% {
    border-bottom: 3px solid #1abc9c; }
  30% {
    border-bottom: 3px solid #d35400; }
  40% {
    border-bottom: 3px solid blue; }
  50% {
    border-bottom: 3px solid #34495e; }
  60% {
    border-bottom: 3px solid blue; }
  70% {
    border-bottom: 3px solid #2980b9; }
  80% {
    border-bottom: 3px solid #f1c40f; }
  90% {
    border-bottom: 3px solid #2980b9; }
  100% {
    border-bottom: 3px solid pink; } }
@-webkit-keyframes colorchangeBody {
  0% {
    border-top: 3px solid blue; }
  10% {
    border-top: 3px solid #8e44ad; }
  20% {
    border-top: 3px solid #1abc9c; }
  30% {
    border-top: 3px solid #d35400; }
  40% {
    border-top: 3px solid blue; }
  50% {
    border-top: 3px solid #34495e; }
  60% {
    border-top: 3px solid blue; }
  70% {
    border-top: 3px solid #2980b9; }
  80% {
    border-top: 3px solid #f1c40f; }
  90% {
    border-top: 3px solid #2980b9; }
  100% {
    border-top: 3px solid pink; } }

/*# sourceMappingURL=main.css.map */
