@font-face {
  font-family: Elianto;
  src: url(../assets/Elianto-Regular.otf); }
body {
  font-size: 16px; }

#video {
  width: 100%;
  z-index: -1;
  position: fixed;
  margin-top: 70px; }

img {
  width: 100%; }

.call-to-action {
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
  align-items: center;
  background: rgba(200, 200, 200, 0.7);
  padding: 1.5rem; }

.skinny {
  padding: 0 20%; }

h1,
h2,
.h1,
.h2 {
  font-family: "Monoton", cursive;
  font-size: 2.75rem;
  color: #9568d8; }

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center; }

nav h1 {
  letter-spacing: 10px; }

.main-heading {
  -webkit-animation: colorchange 20s infinite alternate; }

h2,
.h2 {
  font-size: 3rem;
  font-family: Elianto;
  font-family: "Audiowide", cursive; }

h3 {
  font-size: 2.25rem;
  font-weight: lighter;
  margin-bottom: 16px; }

.row {
  margin-top: 32px;
  padding-bottom: 32px; }

.header {
  background: #000;
  z-index: 10;
  align-items: center;
  width: 100%;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-around; }
  .header a {
    z-index: 100;
    color: #fff; }

.secondary-header {
  display: flex;
  color: teal;
  -webkit-animation: colorchange 20s infinite alternate;
  justify-content: space-around; }
  .secondary-header img {
    height: 25px; }

#video-overlay {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  align-items: center; }

.body {
  background: #000;
  color: #fff;
  padding: 32px;
  -webkit-animation: colorchangeBody 20s infinite alternate; }

.hidden-md {
  display: none; }

.flex-container-row {
  flex-direction: row;
  width: 33.33%;
  justify-content: space-around; }

@media screen and (min-width: 500) {
  nav h1 {
    letter-spacing: 10px; } }
@media screen and (max-width: 992px) {
  body {
    font-size: 14px; }

  .header {
    flex-direction: column;
    position: inherit; }

  .skinny {
    padding: 0 5%; }

  h1,
  h2,
  h3,
  h4,
  h5,
  p {
    text-align: center; }

  nav h1,
  .h1 {
    font-size: 2.25rem;
    letter-spacing: 5px; }

  h2,
  .h2 {
    font-size: 2rem; }

  .hidden-xs {
    display: none; }

  .hidden-md {
    display: block; }

  #video,
  #video-overlay {
    display: none; } }
li {
  text-decoration: none; }

@-webkit-keyframes colorchange {
  0% {
    color: teal; }
  10% {
    color: #8e44ad; }
  20% {
    color: #1abc9c; }
  30% {
    color: #d35400; }
  40% {
    color: teal; }
  50% {
    color: #34495e; }
  60% {
    color: teal; }
  70% {
    color: #2980b9; }
  80% {
    color: #f1c40f; }
  90% {
    color: #2980b9; }
  100% {
    color: pink; } }
@-webkit-keyframes colorchangeNav {
  0% {
    border-bottom: 3px solid teal; }
  10% {
    border-bottom: 3px solid #8e44ad; }
  20% {
    border-bottom: 3px solid #1abc9c; }
  30% {
    border-bottom: 3px solid #d35400; }
  40% {
    border-bottom: 3px solid teal; }
  50% {
    border-bottom: 3px solid #34495e; }
  60% {
    border-bottom: 3px solid teal; }
  70% {
    border-bottom: 3px solid #2980b9; }
  80% {
    border-bottom: 3px solid #f1c40f; }
  90% {
    border-bottom: 3px solid #2980b9; }
  100% {
    border-bottom: 3px solid pink; } }
@-webkit-keyframes colorchangeBody {
  0% {
    border-top: 3px solid teal; }
  10% {
    border-top: 3px solid #8e44ad; }
  20% {
    border-top: 3px solid #1abc9c; }
  30% {
    border-top: 3px solid #d35400; }
  40% {
    border-top: 3px solid teal; }
  50% {
    border-top: 3px solid #34495e; }
  60% {
    border-top: 3px solid teal; }
  70% {
    border-top: 3px solid #2980b9; }
  80% {
    border-top: 3px solid #f1c40f; }
  90% {
    border-top: 3px solid #2980b9; }
  100% {
    border-top: 3px solid pink; } }

/*# sourceMappingURL=main.css.map */
