#video {
  width: 100%;
  position: absolute;
  z-index: -1;
  position: fixed;
  margin-top: 80px;
}

h1,
h2 {
  font-family: "Monoton", cursive;
  font-size: 50px;
  // color: #eb009e !important;
  -webkit-animation: colorchange 20s infinite alternate;
}

h2 {
  font-size: 42px;
}
.row {
  margin-top: 32px;
}
.header {
  background: #222;
  z-index: 10;
  align-items: center;
  width: 100%;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: 1px solid #eb009e;
  -webkit-animation: colorchangeNav 20s infinite alternate;
  a {
    color: #eee;
  }
}

#video-overlay {
  width: 100%;
  display: block;
}

.body {
  background: rgb(240, 240, 240);
  padding: 32px;
  img {
    width: 100%;
  }
  -webkit-animation: colorchangeBody 20s infinite alternate;
}

@media screen and (max-width: 992px) {
  .header {
    flex-direction: column;
  }
  #video {
    margin-top: 240px !important;
  }
}
li {
  text-decoration: none;
}

// key @keyframes

@-webkit-keyframes colorchange {
  0% {
    color: lightblue;
  }

  10% {
    color: #8e44ad;
  }

  20% {
    color: #1abc9c;
  }

  30% {
    color: #d35400;
  }

  40% {
    color: lightblue;
  }

  50% {
    color: #34495e;
  }

  60% {
    color: lightblue;
  }

  70% {
    color: #2980b9;
  }
  80% {
    color: #f1c40f;
  }

  90% {
    color: #2980b9;
  }

  100% {
    color: pink;
  }
}

@-webkit-keyframes colorchangeNav {
  0% {
    border-bottom: 3px solid lightblue;
  }

  10% {
    border-bottom: 3px solid #8e44ad;
  }

  20% {
    border-bottom: 3px solid #1abc9c;
  }

  30% {
    border-bottom: 3px solid #d35400;
  }

  40% {
    border-bottom: 3px solid lightblue;
  }

  50% {
    border-bottom: 3px solid #34495e;
  }

  60% {
    border-bottom: 3px solid lightblue;
  }

  70% {
    border-bottom: 3px solid #2980b9;
  }
  80% {
    border-bottom: 3px solid #f1c40f;
  }

  90% {
    border-bottom: 3px solid #2980b9;
  }

  100% {
    border-bottom: 3px solid pink;
  }
}

@-webkit-keyframes colorchangeBody {
  0% {
    border-top: 3px solid lightblue;
  }

  10% {
    border-top: 3px solid #8e44ad;
  }

  20% {
    border-top: 3px solid #1abc9c;
  }

  30% {
    border-top: 3px solid #d35400;
  }

  40% {
    border-top: 3px solid lightblue;
  }

  50% {
    border-top: 3px solid #34495e;
  }

  60% {
    border-top: 3px solid lightblue;
  }

  70% {
    border-top: 3px solid #2980b9;
  }
  80% {
    border-top: 3px solid #f1c40f;
  }

  90% {
    border-top: 3px solid #2980b9;
  }

  100% {
    border-top: 3px solid pink;
  }
}
